{% extends 'parent/base.html' %}
{%load jformat%}
{% block title %}post detail{% endblock %}

{% block content %}
    <hr>
    <h1 class="post-detail">{{post.title}}</h1>

    <h2> {{post.title}} (by {{post.auther}}) </h2>
    <p> {{ post.description |linebreaks }} </p>  <!-- اینتر هایی که زدیم انجام میشه-->
    <hr>
    <p>{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</p>

    <div>
    {% with comments.count as cm_count%}<!--بخواییم از یک دستور چند بار استفاه کنیم از این روش محدوده را مشخص میکنیم و اسم مشخص میکنیم-->
    {{cm_count}} comment{{cm_count|pluralize}}
    </div>
    <div>
        {%for cm in comments%}
            {{cm.body|linebreaks}}
            <br>
            {{cm.name}}
        {%empty%}
            کامنتی وجود ندارد!
        {%endfor%}
    </div>
    {% endwith %}
    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="افزودن کامنت">
    </form>

    <hr>
{% endblock %}