{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}
{% block content %}

    <hr>
    {% if category %}
        <h1 class="post-list">لیست پست های {{category}} </h1>
    {% else %}
        <h1 class="post-list">لیست پست ها </h1>
    {% endif %}
<ol style="--length: {{ posts| length }}" role="list">
    {% for post in posts %}
    <li style="--i: {{ forloop.counter}}">
        <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
        <p class="descr"> {{ post.description | truncatewords:5 }} </p>
        <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
    </li>
    {% endfor %}

</ol>
<h4>دسته بندی</h4>
<a href="{% url 'blog:post_list_category' 'تکنولوژی'%}">تکنولوژی</a>
<a href="{% url 'blog:post_list_category' 'هوش مصنوعی'%}">هوش مصنوعی</a>
<hr>
<!--    {% include "partials/pagination.html" with page=page_obj%}-->
        {% include "partials/pagination.html" with page=posts%}
{% endblock %}
